<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
                          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc-h2.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driverClassName}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
	</bean>
   
  <!--  <bean class="com.taiji.pubsec.szpt.highriskpersonalert.util.HighriskPersonConstant">
    <constructor-arg index="0">
      <value>${highriskperson.track.localcity}</value>
    </constructor-arg>
  </bean>  --> 
  
  
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
      <array>
       <value>com.taiji.pubsec.szpt.highriskpersonalert.model</value>
        <value>com.taiji.pubsec.szpt.highriskpersonalert.personexecutecontrol.model</value>
        <value>com.taiji.pubsec.szpt.operationrecord.model</value> 
        <value>com.taiji.pubsec.complex.tools.attachment</value> 
        <value>com.taiji.pubsec.businesscomponents.dictionary.model</value> 
        <value>com.taiji.pubsec.businesscomponents.organization.model</value>
      </array>
    </property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="${hibernate.dialect}" />
				<property name="showSql" value="${hibernate.show_sql}" />
				<property name="generateDdl" value="${hibernate.generateDdl}" />
			</bean>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.format_sql" value="${hibernate.format_sql}" />
				<entry key="hibernate.hbm2ddl.auto" value="create" />
				<entry key="hibernate.ejb.interceptor"
					value="com.taiji.pubsec.persistence.interceptor.CustomizedInterceptor" />
				<entry key="javax.persistence.validation.mode" value="none" />
			</map>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- 2.定义事务通知 ,并指定关联的事务管理器 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 在属性中定义事务规则 -->
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="sign*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="done*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="query*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="sumup*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="is*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<tx:annotation-driven transaction-manager="transactionManager" />
  	<context:component-scan base-package="com.taiji.pubsec.szpt.highriskpersonalert.service,
                                        com.taiji.pubsec.szpt.highriskpersonalert.personexecutecontrol.service
                                        com.taiji.pubsec.szpt.operationrecord.service,
                                        com.taiji.pubsec.szpt.score.util,
                                        com.taiji.pubsec.szpt.service,
                                        com.taiji.pubsec.scoreframework.service,
                                        com.taiji.pubsec.businesscomponents.dictionary.service,
                                        com.taiji.pubsec.businesscomponents.organization.service,
                                        com.taiji.pubsec.szpt.placemonitor.service,
                                        com.taiji.pubsec.szpt.attachment.service,
                                        com.taiji.pubsec.complex.tools.attachment,
                                        com.taiji.pubsec.szpt.generatenum.service
                                        " />
  <bean id="dao" class="com.taiji.pubsec.persistence.dao.JpaDaoImpl" />
  <bean id="jpaDao" class="com.taiji.pubsec.persistence.dao.JpaDaoImpl" />
  <bean id="sqlDao" class="com.taiji.pubsec.persistence.dao.JpaSqlDaoImpl">
	 <property name = "dataSource" ref="dataSource" />   
	</bean>
  
</beans>