<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
                          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">
 
	<bean id="kafkaProducer" class="com.taiji.pubsec.szpt.kafka.KafkaProducer">
		<property name="brokerList" value="${szpt.kafka}" />
	</bean>
  
	<bean id="defaultSurveilClueReceiver" class="com.taiji.pubsec.szpt.dpp.surveillance.clue.message.ClueReceiver" init-method="letitgo">
		<property name="zookeeper" value="${szpt.zookeeper}" />
		<property name="groupId" value="defaultSurveilClueReceiver" />
		<property name="topic" value="${szpt.kafka.topic-surveillance-default-clue-to-surveil}" />
	</bean>
	
	<bean id="imgClueReceiver" class="com.taiji.pubsec.szpt.dpp.surveillance.clue.message.ImgClueReceiver" init-method="letitgo">
		<property name="zookeeper" value="${szpt.zookeeper}" />
		<property name="groupId" value="imgClueReceiver" />
		<property name="topic" value="${szpt.kafka.topic-surveillance-img-result-datagate-to-surveil}" />
	</bean>	
	  
	<bean id="surveilListReceiver" class="com.taiji.pubsec.szpt.dpp.surveillance.surveillist.message.SurveilListReceiver" init-method="letitgo">
		<property name="zookeeper" value="${szpt.zookeeper}" />
		<property name="groupId" value="surveilListReceiver" />
		<property name="topic" value="${szpt.kafka.topic-surveillance-business-to-surveil}" />
	</bean>		  
</beans>
	